body {
    font-family: 'Montserrat', sans-serif;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;

}
header {
    height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    border-bottom: 2px solid lightcoral;
    z-index: 10;
}
.left {
    float: left;
}
.logo {
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    color: white;
    padding: 20px;
}

nav {
    float: right;
    padding: 25px;
}

nav a {
    font-size: 1.5em;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}

main {
    position: relative;
    top: 80px;
    z-index: 1;
}

#mission {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto 40px;
}

#mission img {
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

@media only screen and (max-width: 760px) {
    .logo {
        display: none;
    }
    h1 {
        font-size: 2em;     
    }
    h2 {
        font-size: 1.5em;
    }
}

#courses, #people  {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 40px 0;
}

#courses img {
    width: 300px;
}

figcaption {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#people img {
    width: 300px;
}

footer {
    height: 30px;
    background-color: black;
    width: 100%;
}

p {
    font-weight: 600;
}
.copy {
    margin: 5px;
    color: grey;
}